/* Fonts */

@font-face {
    font-family: "Cinzel";
    src: url('font/cinzel.otf') format('truetype');
}

body {
    height: 100vh;
    background: gold;
}

scroll {
    height: 10vh ! important;
}

header {
    height: 4vh ! important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header h6 {
    margin: auto !important;
    text-align: center;
    line-height: 4vh;
    color: whitesmoke;
    font-weight: 100;
    font-size: 2.5vh;
    font-family: "Cinzel" !important;
}

footer {
    bottom: -20px !important;
    position: fixed !important;
}

#page {
    display: none;
}

.no-margin-height {
    min-height: 0px !important;
}

.no-backg {
    background: rgba(0, 0, 0, 0);
}

.mdl-layout__tab {
    font-size: 2vh;
    font-weight: 100;
    font-family: "Cinzel" !important;
}

.mdl-layout__tab i {
    line-height: 1.5
}

.mdl-layout__tab-bar {
    height: 6vh !important;
}

.bottom-navigator {
    min-height: 12vh !important;
    font-weight: 100;
    margin: 0;
}

.bottom-navigator .mdl-layout__tab {
    line-height: 1vh;
    min-height: 800px !important;
    font-family: "Cinzel" !important;
    font-size: 2vh !important;
    text-transform: none;
    margin: 0;
}

.page-content .page-content {
    padding: 2vw;
    position: relative;
}

.mdl-grid .mdl-card {
    margin: auto;
    float: inherit;
    height: 100px !important;
    min-height: 100px !important;
    width: 50% !important;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 30vh;
    background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

.mdl-card__actions.mdl-card--border {
    height: 40px !important;
    bottom: 0;
}

.mdl-card__menu {
    position: unset;
    margin: auto;
}

.contact {
    color: #757575;
    margin: auto;
}

h2.contact {
    font-size: 2.5vh;
}

h6.contact {
    font-size: 1.8vh;;
}

i.material-icons {
    display: flex !important;
    justify-content: center !important;
}

.material-icons.gold {
    color: #fdd835;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 4vh;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 5vh;
}

.goldendark {
    color: goldenrod;
}

#services .demo-card-wide.mdl-card a {
    color: goldenrod;
    padding: 2vw;
}

.products .demo-card-wide.mdl-card {
    width: 108vw;
    left: -4vw;
    top: -4vw;
}

#packages .demo-card-wide.mdl-card {
    width: 96vw;
    padding: 2vw;
}

#services .page-content .page-content {
    padding: 2vw;
}

#services .demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 30vh;
}

#spray_tan .demo-card-wide>.mdl-card__title {
    background: url('http://static.vix.com/pt/sites/default/files/styles/large/public/bdm/bronzeamento-artificial_0.jpg') center / cover;
}

#eyes .demo-card-wide>.mdl-card__title {
    background: url('https://i.ytimg.com/vi/WZerlq1RYUQ/maxresdefault.jpg') center / cover;
}

#dtox .demo-card-wide>.mdl-card__title {
    background: url('http://fabianascaranzi.com.br/wp-content/uploads/2016/04/dieta-detox-para-emagrecer-rapido.jpg') center / cover;
}

#make_up .demo-card-wide>.mdl-card__title {
    background: url('http://wallpaperpulse.com/img/5231786.jpg') center / cover;
}

#nails .demo-card-wide>.mdl-card__title {
    background: url(' http://cdn2.stylecraze.com/wp-content/uploads/2013/02/Manicure-At-Home2.jpg') center / cover;
}

#massage .demo-card-wide>.mdl-card__title {
    background: url('http://www.channelcourt.com.au/_source/img/store-img/Thai-Massage.jpg') center / cover;
}

#waxing .demo-card-wide>.mdl-card__title {
    background: url('http://jjwaxing.com/wp-content/uploads/2016/02/Waxing-Leg.jpg') center / cover;
}

#packages .demo-card-wide>.mdl-card__title {
    background: url('http://www.kathavento.com.br/site/imagens/produtos_grandes/p25512.jpg') center / cover;
}

#help .mdl-grid .mdl-card {
    width: 100% !important;
}
